<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify Car</title>
    <link rel="stylesheet" th:href="@{/css/verify.css}">
</head>
<body>
    <div class="verify-container">
        <!-- Left Section -->
        <div class="left-section">
            <div class="image-container">
                <img th:src="@{/images/3-car.jpg}" alt="Car Image">
            </div>
        </div>

        <!-- Right Section -->
        <div class="right-section">
            <header>Verification</header>
            <form class="verify-form" th:object="${car}" th:action="@{/update}" method="get">
                <label for="registrationNumber">Registration Number</label>
                <input type="text" id="registrationNumber" th:field="*{registrationNumber}" placeholder="Enter registration number">
                <!-- Display error message -->
                <div th:if="${errorMessage != null}" style="color:red;">
                    <p th:text="${errorMessage}"></p>
                </div>
                <button type="submit">Confirm</button>
            </form>
        </div>
    </div>

    <script src="/JS/verify.js"></script>
</body>
</html>
